[Desktop Entry]
Name=Install Toloka
Comment=Start the installer
Exec=sudo calamares
Icon=calamares
Terminal=false
Type=Application
Categories=System;
